a:hover {
  cursor: pointer;
}

.tabHeader {
  margin: 0px 10px;
  padding: 5px;
  font-weight: bold;
  border-bottom: 1px solid silver;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
}




